
.Rproj.user/34C12B1/cpp-definition-cache
.Rproj.user/34C12B1/pcs/files-pane.pper
.Rproj.user/34C12B1/pcs/source-pane.pper
.Rproj.user/34C12B1/pcs/windowlayoutstate.pper
.Rproj.user/34C12B1/pcs/workbench-pane.pper
.Rproj.user/34C12B1/rmd-outputs
.Rproj.user/34C12B1/saved_source_markers
