export(abdData)
export(as.xtabs)
export(col.abd)
export(cumfreq)
export(cv)
export(histochart)
export(odds.ratio)
export(panel.cumfreq)
export(prepanel.cumfreq)
export(se)
export(sum_of_products)
export(sum_of_squares)
S3method(as.xtabs,data.frame)
S3method(as.xtabs,matrix)
S3method(cumfreq,default)
S3method(cumfreq,formula)
